.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-6,.col-lg-8,.col-lg-10,.col-lg-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-6,.col-md-8,.col-md-10,.col-md-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-6,.col-sm-8,.col-sm-10,.col-sm-12,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-6,.col-xs-8,.col-xs-10,.col-xs-12 {
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

/*Screen size below 320px*/

.col-xs-1 { width: 8.3333333%; }
.col-xs-2 { width: 16.666666%; }
.col-xs-3 { width: 25%; }
.col-xs-4 { width: 33.333333%; }
.col-xs-6 { width: 50%; }
.col-xs-8 { width: 66.666666%; }
.col-xs-9 { width: 75%; }
.col-xs-10 { width: 83.333333%; }
.col-xs-12 { width: 100%; }
@media screen and (min-width: 768px) {
	.col-sm-1 { width: 8.3333333%; }
	.col-sm-2 { width: 16.666666%; }
	.col-sm-3 { width: 25%; }
	.col-sm-4 { width: 33.333333%; }
	.col-sm-6 { width: 50%; }
	.col-sm-8 { width: 66.666666%; }
	.col-sm-9 { width: 75%; }
	.col-sm-10 { width: 83.333333%; }
	.col-sm-12 { width: 100%; }
}
@media screen and (min-width: 992px) {
	.col-md-1 { width: 8.3333333%; }
	.col-md-2 { width: 16.666666%; }
	.col-md-3 { width: 25%; }
	.col-md-4 { width: 33.333333%; }
	.col-md-6 { width: 50%; }
	.col-md-8 { width: 66.666666%; }
	.col-md-9 { width: 75%; }
	.col-md-10 { width: 83.333333%; }
	.col-md-12 { width: 100%; }
}
@media screen and (min-width: 1200px) {
	.col-lg-1 { width: 8.3333333%; }
	.col-lg-2 { width: 16.666666%; }
	.col-lg-3 { width: 25%; }
	.col-lg-4 { width: 33.333333%; }
	.col-lg-6 { width: 50%; }
	.col-lg-8 { width: 66.666666%; }
	.col-lg-9 { width: 75%; }
	.col-lg-10 { width: 83.333333%; }
	.col-lg-12 { width: 100%; }
}
/* end responsive grid system */


/*Main page elements font and colours */
    body, html {
        height: 100%;
        margin: 0;
        font: 400 15px/1.8 "Lato", sans-serif;
        color: #fff;
    }

    .logo{
        width:30%;
        height:50%;
    }

    .login{
        font: 400 15px/1.8 "Lato", sans-serif;
        color: #fff;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;  
    }


    footer {
        font: 400 15px/1.8 "Lato", sans-serif;
        color: #fff;
        text-align: center;
    }

    
    .footerheading {
        color: #fff;
        text-align: center;

    }
    .footerinfo {
        font: 400 15px/1.8 "Lato", sans-serif;
        color: #fff;
        text-align: center;

    }

    .layerfooter {
        background-color: rgb(0, 18, 46);
        position: absolute;
        opacity: 0.9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .bgimg-2 {
        background-image: url("../img/people.jpg");
        height: 20%;
    }

    .bgimg-1, .bgimg-2, .bgimg-3 {
        position: relative;
        opacity: 0.8;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bgimg-1 {
        background-image: url("../img/people.jpg");
        height: 100%;
    }


    .layer {
        background-color: rgb(33, 48, 70);
        position: absolute;
        opacity: 0.7;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .captionsearch {
        float: left;
        left: 50%;
        margin-left: -470px;
        margin-top: 200px;
        position: relative;
        width: 940px;
        border-radius: 80px;
        background-color: #fff;
    }

    h3 {
        letter-spacing: 5px;
        text-transform: uppercase;
        font: 20px "Lato", sans-serif;
        color: #111;
    }

    .parent {
        display: flex;
        /* justify-content: flex-start; */
        justify-content: center;
        align-items: center;
    }
    .menu {
        opacity: 1; 
        text-align:center;
        position: relative;
        display: inline-block;
        border-bottom: 1px solid white;

    }

    .menu a {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 35px;
    }

    .menu a:hover {
        color: black;
    }

    .menu a.active {
        color: white;
    }

    /* Style the search box inside the center box */
    .caption input[type=text] {
        float: center;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }

   
    .field {
        display: table-cell;
        position: relative;
        padding: 0px 5px;
        font-family: Oswald;
        font-size: 17px;
        background-color:rgba(0, 0, 0, 0);
        color:white;
        border: none;
        outline:none;


    }

    .fieldsearch {
        background-color: #d90429;
        display: table-cell;
        position: relative;
        vertical-align: middle;
        padding: 0px 30px;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;

    }

    .search {
        background-color: #d90429;
        border: medium none;
        color: #ffffff;
        float: right;
        font-family: Oswald;
        font-size: 21px;
        height: 60px;
        margin-left: -1px;
        padding: 0 50px;
        width: 100%;
        border-radius: 0 30px 30px 0;

    }

    .selectbox {
        /* display: none; */
        border: medium none;
        /* padding: 4px 15px; */
        /* width: 100%; */
        float: right;
        font-family: Oswald;
        height: 60px;
        margin-left: 0px;
        padding: 10px 10px;
        font-size: 18px;
        vertical-align: middle;


    }

    .heading {
        color: #ffffff;
        float: center;
        font-family: Oswald;
        font-size: 30px; 
        z-index: 1000;

    }

    .heading2 {
        color: #ffffff;
        float: center;
        font-family: Oswald;
        font-size: 20px; 
        z-index: 1000;
    }

    .keywordinput {
        font-family: Oswald;
        font-size: 18px;
        margin-left: 20px;
        border: none;
        vertical-align: bottom;
        padding: 0px 5px;
        background-color:white;
        outline:none;
        height:5px;
     }

    .LocationButton{
        border: none;
        background: none;
        border: medium none;
        float: right;
        font-family: Oswald;
        height: 60px;
        margin-left: -1px;
        padding: 0 50px;
        width: 100%;
        font-size: 18px;
        white-space: nowrap;
        text-align: center;
    }

    /*User star rating*/
    .txt-center {
        text-align: center;
    }
    .hide {
        display: none;
    }
    
    .clear {
        float: none;
        clear: both;
    }

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
        display: table-cell;
        padding: 0px 0px 0px 0px;
        width: 70px;
        vertical-align: middle;
        white-space: nowrap;
        color: rgb(83, 95, 112);        
        font-size: 22px;

      }
      .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
      }
      .rating > *:hover,
      .rating > *:hover ~ span,
      .rating:not(:hover) > input:checked ~ span {
        color: transparent;
      }
      .rating > *:hover:before,
      .rating > *:hover ~ span:before,
      .rating:not(:hover) > input:checked ~ span:before {
         content: "\2605";
         position: absolute;
         left: 0; 
         color:black;
      }
      
      .rating > input {
         margin-left:-1.1em;
         margin-right:0;
         top:3px;
         width:1.1em;
         height:1.1em;
         position:relative;
         z-index:2;
         opacity:0;
         color: rgb(22, 22, 22);
      }
 /*End User star rating*/
 
 /* End Main CSS */

 
 /*Individual Result CSs*/


    /*Individual Result CSS*/

    img {
        max-width: 100%;
        height: auto;
    }

    @media screen and (max-width: 320px) {
/*         
        hide gallery or move gallery to bottom of screen
        move map to bottom of the page
        div.example {
            display: none;
          } */
    }

    .Individualbody{
        height: 200%;
        margin: 0;
        font: 400 15px/1.8 "Lato", sans-serif;
        color: #fff;
    }
    .containerindivid {
        position: relative;
        text-align: center;
        color: white;
        font-family: Oswald;
        font-size: 30px;
        padding-top: 1%;
        width: 100%;
    }

    .headingindividual {
        text-shadow: 3px 2px black;        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Oswald;
        font-size: 30px; 
    }
    
        
    .grid-container2 {
        position: relative;
        display: grid; 
        width: 50%;
        margin-left: 325px;
        margin-top: -445px;
        grid-template-columns: auto auto ;
        background-color: #F0FFFF;
        padding: 5px 5px;
    }
    
    .grid-reviews {
        background-color: #F0FFFF;
        border: 1px solid  #fff;
        padding: 1px;
        font-size: 20px;
        color: #000000;
        text-align: center;
        height: auto;
    }
    .box {
        margin-left: 325px;
        width: 50%;
        height: auto;
        display: inline-block;
        margin-bottom: 25px;
        position: relative;
        padding: 10px;
        border: 5px solid white;
    }

    .checked {
        color: orange;
    }

    #google-map {
        margin-top: 20px;
        margin-left: 325px;   
    }
            
    .button {
        background-color: #f44336;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

    .gallery {
        display: block;
        margin-top: -200;
        margin-right: 325px;
        margin-bottom: 20px;    
        border-color:  #ffffff; 
        width: 200px;
        text-align: center;
        margin-left: 58%;
    }

    .heading2indivual {
        color: #ffffff;  
        margin-top: -270px;
        margin-left: 1175px;
        font-size: 30px; 
    }
            
    .bottom-right {
        position: absolute;
        bottom: 50px;
        right: 200px;
    }

/* Search Results Page Styling*/
    .grid-header {
        background-color: #F0FFFF;
        border: 1px solid  #fff;
        padding: 1px;
        font-size: 25px;
        color: #000000;
        text-align: center;
    }

    .grid-results {
        background-color: #F0FFFF;
        border: 1px solid  #fff;
        padding: 1px;
        font-size: 20px;
        color: #000000;
        text-align: center;
    }

    #google-map {
        margin-right: 17.5%;
        margin-left: 62%;
        display: inline-block;  
    }
        
    .wrapper{
        display: flex;
        width: 70%; 
    }

    .Column{
        display: table-cell;
        width:80%;
    }

    .grid-container {    	
        display: grid;
        background-color: #F0FFFF;
        padding: 5px 5px;
        grid-gap: 30px;
        grid-template-columns: auto auto auto auto;
        margin-left:15%;
        width: 100%;
    }
        
    .left {
        width: 90%;
        margin-left:15%
    }

    .right {
        width: 10%;        
        margin-right:15%
    }

    .map {
        margin-right:15%
    }
        

/* Login In Page Styling*/

    .register {
        opacity: 1; 
        text-align:right;
        float:right;
    }

    input[type=text], input[type=password], input[type=number], input[type=date], input[type=email] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
        box-sizing:border-box;
    }

    /* Add a background color when the inputs get focus */
    input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=date]:focus, input[type=email]:focus {
        background-color: #ddd;
        outline: none;
        box-sizing:border-box;
    }

    /* Set a style for all buttons */
    .buttonlogin {
        background-color: #d90429;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity:1;
    }

    /* Float cancel and signup buttons and add an equal width */
    .signupbtn {
        float: left;
        border-radius: 30px 30px 30px 30px;
        background-color: #d90429;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    /* Add padding to container elements */
    .containerlogin {
        padding: 16px;
        height: 100%; overflow: auto;
    }


    /* Modal Content/Box for Log in */
    .signupcotainer {
        background-color: #fefefe;
        margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 40%; /* Could be more or less, depending on screen size */
    }

    /* Style the horizontal ruler */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .signup {
        color:#111;
    }

    label {
        color:#111;
        font-weight: bold;
    }

/* Registration Styling */
    .register {
        opacity: 1; 
        text-align:right;
        float:right;
    }


    /* Add padding to container elements */
    .container {
        padding: 16px;
        height: 100%; overflow: auto;
    }

/* Start Styling for Review Page */

    .ratingreview {
        width: 70%;
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
        display: table-cell;
        position: relative;
        vertical-align: middle;
        padding: 0px 10px 0px 10px;
        color: rgb(100, 100,100);
        border: none;
        white-space: nowrap;
        background-color: white;

    }

             
    .modalreview {
        position: absolute; 
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 50%; 
        overflow: auto; 
        left: 20%;
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid #888;
    }
         

 

 


