.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-6,.col-lg-8,.col-lg-10,.col-lg-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-6,.col-md-8,.col-md-10,.col-md-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-6,.col-sm-8,.col-sm-10,.col-sm-12,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-6,.col-xs-8,.col-xs-10,.col-xs-12 {
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

/*Screen size below 320px*/

.col-xs-1 { width: 8.3333333%; }
.col-xs-2 { width: 16.666666%; }
.col-xs-3 { width: 25%; }
.col-xs-4 { width: 33.333333%; }
.col-xs-6 { width: 50%; }
.col-xs-8 { width: 66.666666%; }
.col-xs-9 { width: 75%; }
.col-xs-10 { width: 83.333333%; }
.col-xs-12 { width: 100%; }
.col-xsm-12 { margin-right: 5%; margin-left: 5%;}

@media screen and (min-width: 768px) {
	.col-sm-1 { width: 8.3333333%; }
	.col-sm-2 { width: 16.666666%; }
	.col-sm-3 { width: 25%; }
	.col-sm-4 { width: 33.333333%; }
	.col-sm-6 { width: 50%; }
	.col-sm-8 { width: 66.666666%; }
	.col-sm-9 { width: 75%; }
	.col-sm-10 { width: 83.333333%; }
	.col-sm-12 { width: 100%; }
}
@media screen and (min-width: 992px) {
	.col-md-1 { width: 8.3333333%; }
	.col-md-2 { width: 16.666666%; }
	.col-md-3 { width: 25%; }
	.col-md-4 { width: 33.333333%; }
	.col-md-6 { width: 50%; }
	.col-md-8 { width: 66.666666%; }
	.col-md-9 { width: 75%; }
	.col-md-10 { width: 83.333333%; }
	.col-md-12 { width: 100%; }
}
@media screen and (min-width: 1200px) {
	.col-lg-1 { width: 8.3333333%; }
	.col-lg-2 { width: 16.666666%; }
	.col-lg-3 { width: 25%; }
	.col-lg-4 { width: 33.333333%; }
	.col-lg-6 { width: 50%; }
	.col-lg-8 { width: 66.666666%; }
	.col-lg-9 { width: 75%; }
	.col-lg-10 { width: 83.333333%; }
	.col-lg-12 { width: 100%; }
}
/* end responsive grid system */


/*Main page elements font and colours */
    body, html {
        height: 100%;
        margin: 0;
        font: 400 15px/1.8 "Helvetica", sans-serif;
        color:black;
    }

    .logo{
        width:40%;
        height:auto;
        vertical-align: middle;

    }

    @media screen and (max-width: 700px) {


    .logocontainer{
        width:100%;
        -ms-flex-align: center;
        }

        .logo{
            width:25%!important;
            height:auto;
            vertical-align: middle;
    
        }
    }

    .login{
        font: 400 15px/1.8 "Helvetica", sans-serif;
        color: #fff;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;  
        float:right;
    }


    footer {
        font: 400 15px/1.8 "Helvetica", sans-serif;
        color: #fff;
        text-align: center;
    }

    
    .footerheading {
        color: #fff;
        text-align: center;

    }
    .footerinfo {
        font: 400 15px/1.8 "Helvetica", sans-serif;
        color: #fff;
        text-align: center;

    }

    .layerfooter {
        background-color: rgb(0, 18, 46);
        position: absolute;
        opacity: 0.9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .bgimg-2 {
        background-image: url("../img/people.jpg");
        height: 20%;
    }

    .bgimg-1, .bgimg-2, .bgimg-3 .bgimg-4 {
        position: relative;
        opacity: 0.8;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bgimg-1 {
        background-image: url("../img/people.jpg");
        height: 100%;
    }
    
    .bgimg-3 {
        background-color:#f4f4f4;
        height: 140%;
    }

    .bgimg-4 {
        background-color:#f4f4f4;
        height: 100%;
    }


    .layer {
        background-color: rgb(33, 48, 70);
        position: absolute;
        opacity: 0.7;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .bgimg-head {
        background-image: url("../img/people.jpg");
        height: 20%;

    }


    .layer-head {
        background-color:black;
        position: absolute;
        opacity: 0.7;
        top: 0;
        left: 0;
        width: 10%;
        height: 100%;
        z-index: -2;
    }

    @media screen and (max-width: 1000) {

        .bgimg-1{
            height:150% !important;
        }

        .captionsearch {
            float: left;
            left: 0%!important;
            margin-left: 0% !important;
            margin-top: 15%;
            position: relative;
            width:90% !important;;
            border-radius: 0px !important;
            background-color: #fff;
            display:flex !important;
            padding:none!important;
        }

        .field {
            display: flex!important;
            position: relative;
            font-family: Helvetica;
            font-size: 15px;
            background-color:rgba(0, 0, 0, 0);
            color:white;
            border: none;
            outline:none;
            width:100%;

            padding:none;
    
    
        }
    
        .fieldsearch {
            background-color: #d90429;
            display: flex!important;
            vertical-align: middle;
            width:100%;
            text-align: right;
            border-radius: 0 0 0 0!important;

        }
    
        .search {
            background-color: #d90429;
            border: medium none;
            color: #ffffff;
            float: right;
            font-family: Helvetica;
            font-size: 21px;
            height: 100%;
            border-radius: 0 0 0 0!important;

        }
            .selectbox {
        /* display: none; */
        border: medium none;
        /* padding: 4px 15px; */
        /* width: 100%; */
        float: right;
        font-family: Helvetica;
        height: 100%!important;
        padding: 0% 0%!important;
        font-size: 16px!important;;
        vertical-align: middle;
        width:90%!important;


    }
    }

    .captionsearch {
        float: left;
        left: 20%;
        top: 15%;
        position: relative;
        width:60%;
        display:flex;
        background-color:none;
        z-index: 1000;

    }

    h3 {
        letter-spacing: 5px;
        text-transform: uppercase;
        font: 20px "Helvetica", sans-serif;
        color: #111;
    }

    .parent {
        display: flex;
        /* justify-content: flex-start; */
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 700px) {
        .menu {
            height:100% !important;

        }

        body {
            height:125%!important;
        } 

        .menu-home {
            height:17%!important;
        }

        .bgimg-1 {
            height:110%!important;
            width:100%!important;
        }
    }

/*     Adjust all page elements and redesign form to it on mobile screen.
 */
    @media screen and (max-width: 330px) {


        .h2-indiv {
            font-size:15px!important;;

        }
        
        .headingindividual{
            font-size:13px!important;;
        }

        .inner-header{
            font-size:16px!important;

        }
        .h2 {
            font-size:18px!important;

        }

        label {
            font-size:16px!important;
        }
    
        input {
            font-size:12px!important;;
        }

        .results-div .Column1 {
            width:100%!important;
            margin: 0% 0% 0% 0%!important;

        }

        .signupcotainer {
            margin: 0% 0% 0% 0%!important;
            width:100%!important;
        }
        
        .menu {
            height:40% !important;
        }

        .modal{
            width:100%!important;

        }

        .menutext {
            font-size: 15px!important;
        }

        body {
            height:130%!important;
        } 
        .bodyresults {
            height:125%!important;
        }
        .bodylogin {
            height:500%!important;
        }
        .Individualbody{
            height:125%!important;
        }
        .menu-home {
            height:15%!important;

        }

        .bgimg-1 {
            height:220%!important;
            width:100%!important;
        }

        .grid-container2{    	
            display: grid;
            background-color:#f4f4f4;
            padding: 1px 1px!important;
            grid-row-gap: 3%;
            grid-template-columns: 0% 101% 0% 0%!important;
            margin-left:15%!important;
            width: 150%!important;
            overflow:scroll!important;
            text-align:left;
        }



        .grid-container {    	
            display: grid;
            background-color:#f4f4f4;
            padding: 1px 1px!important;
            grid-row-gap: 3%;
            grid-template-columns: 0% 101% 0% 0%!important;
            margin-left:15%!important;
            width: 150%!important;
            overflow:scroll!important;
            text-align:left;
        }

        .spacer{
            display:none!important;
        }
        .map {
            display:none!important;
        }
    }

    .menu {
        opacity: 1; 
/*         border-bottom: 3px solid white;
 */        display: flex;
        justify-content: left;
        align-items: center;
        align-content: space-between;
        flex-wrap: wrap;
        height:99%;
    }

    .menu-home {
        opacity: 1; 
        border-bottom: 1px solid white;
        display: flex;
        justify-content: left;
        align-items: center;
        align-content: space-between;
        flex-wrap: wrap;
        height:15%;
    }

    .menu a {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 35px;
    }

    .menu a:hover {
        color: black;
    }

    .menu a.active {
        color: white;
    }

    .menu-home a {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 35px;
    }
    /* Style the search box inside the center box */
    .caption input[type=text] {
        float: center;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }

   
    .field {
        display: table-cell;
        position: relative;
        padding: 0px 2%;
        font-family: Helvetica;
        font-size: 17px;
        background-color:white;
        color:white;
        border: none;
        outline:none;
        width:100%;


    }
    .fieldtext {
        display: table-cell;
        position: relative;
        padding: 0px 2%;
        font-family: Helvetica;
        font-size: 17px;
        background-color:white;
        color:white;
        border: none;
        outline:none;
        width:100%;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;

    }

    .fieldsearch {
        background-color: #d90429;
        display: table-cell;
        position: relative;
        vertical-align: middle;
        padding: 0px 20px 0px 20px;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        text-align: right;
        white-space: nowrap;  
    }

    .fieldsearch2 {
        display: table-cell;
        position: relative;
        font-family: Helvetica;
        background-color:rgba(0, 0, 0, 0);
        color:white;
        border: none;
        outline:none;
        height:100%;
        vertical-align: middle;
        width:130%;
    }

    .search {
        background-color: #d90429;
        border: medium none;
        color: #ffffff;
        float: right;
        font-family: Helvetica;
        font-size: 21px;
        height: 60px;
        margin-left: 0px;
        padding: 0 50px;
        width: 100%;
        border-radius: 0 30px 30px 0;
        white-space: nowrap;
    }



    .search2 {
        background-color: #d90429;
        color: #ffffff;
        height: 100%;
        width:100%;

        border-radius: 0 30px 30px 0;
    }

    .spacersearch{
        background-color: #d90429;
        border-radius: 0 30px 30px 0;
        width:100px;
        height: 100%;
        display: table-cell;


    }

    .selectbox {
        /* display: none; */
        border: medium none;
        /* padding: 4px 15px; */
        /* width: 100%; */
        float: right;
        font-family: Helvetica;
        height: 60px;
        margin-left: 0px;
        padding: 10px 10px;
        font-size: 18px;
        vertical-align: middle;


    }


@media screen and (max-width: 600px) {

    .heading {

        font-size: 100% !important; 


    }

    .heading2 {
        font-size: 100% !important;  

    }

}

    .heading {
        color: #ffffff;
        float: center;
        font-family: Helvetica;
        font-size: 30px; 
        z-index: 1000;

    }

    a {
        color:black;
        text-decoration: none;
    }
    

    input {
        font-size:20px;
    }

    .heading2 {
        color: #ffffff;
        float: center;
        font-family: Helvetica;
        font-size: 20px; 
        z-index: 1000;
    }

    .keywordinput {
        font-family: Helvetica;
        font-size: 18px;
        margin-left: 5%;
        border: none;
        vertical-align: bottom;
        padding: 0px 2%;
        background-color:white;
        outline:none;
        height:5px;
        width:100%;
     }

    .LocationButton{
        border: none;
        background: none;
        border: medium none;
        float: right;
        font-family: Helvetica;
        height: 60px;
        margin-left: -1px;
        padding: 0 50px;
        width: 100%;
        font-size: 18px;
        white-space: nowrap;
        text-align: center;
    }

    /*User star rating*/
    .txt-center {
        text-align: center;
    }
    .hide {
        display: none;
    }
    
    .clear {
        float: none;
        clear: both;
    }

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
        display: table-cell;
        padding: 0px 0px 0px 0px;
        width: 70px;
        vertical-align: middle;
        white-space: nowrap;
        color: rgb(83, 95, 112);        
        font-size: 22px;
        background-color: white;

      }
      .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
      }
      .rating > *:hover,
      .rating > *:hover ~ span,
      .rating:not(:hover) > input:checked ~ span {
        color: transparent;
      }
      .rating > *:hover:before,
      .rating > *:hover ~ span:before,
      .rating:not(:hover) > input:checked ~ span:before {
         content: "\2605";
         position: absolute;
         left: 0; 
         color:black;
      }
      
      .rating > input {
         margin-left:-1.1em;
         margin-right:0;
         top:3px;
         width:1.1em;
         height:1.1em;
         position:relative;
         z-index:2;
         opacity:0;
         color: rgb(22, 22, 22);
      }
 /*End User star rating*/
 
 /* End Main CSS */

 
 /*Individual Result CSs*/


    /*Individual Result CSS*/

    img {
        max-width: 100%;
        height: auto;
    }


    .profilepic{
        height:90%;
        width:80%;

    }
    @media screen and (max-width: 340px) {
/*         
        hide gallery or move gallery to bottom of screen
        move map to bottom of the page
        div.example {
            display: none;
          } */
    }
    html, body {
        height:100%;
    } 
    .Individualbody{
        font: 400 15px/1.8 "Helvetica", sans-serif;
        background-color: #f4f4f4;
        height:100%;
        color:black;
        padding:0%;
    }

    .container-individ{
        background-color: #f4f4f4;
        height:100%;
        color:black;
        width:100%;
        padding:5%;

    }

    .containerindivid {
        text-align: center;
        color: white;
        font-family: Helvetica;
        font-size: 30px;
        width: 100%;
        height:100%;
        pointer-events:none;

    }

    center {
        pointer-events:none;

    }
/*     background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 */
    .layerindivid{
        background-image: url("../img/houses.jpg");
        opacity: 0.9;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 70%;
        z-index: -10;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .image{
        width: 100%;
    }
    

    .h2-indiv{
        color:black;
        font-weight: bold;
        font-family: Helvetica;

    }

    .h2 {
        font-size: 24px;
    }

    .headingindividual {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Helvetica;
        font-size: 40px; 
        padding-top: 50%;
        padding-bottom: 50%;
        color:black;
        font-weight: bold;

    }

    #map {
        height: 70%;
        width:100%;
        color:black!important;


      }
    
    .starsindivid{
        padding-top: 50px;
        padding-bottom: 100px;
        z-index:5;
    }
    .grid-container2 {
        position: relative;
        display: grid; 
        width: 51.7%;
        height:95%;
        margin-left: 15%;
        margin-top: 0%;
        grid-template-columns: 20% 65% 15%;
        background-color:f4f4f4;
        color: #000000;
        text-align: left;
        overflow: scroll;
        grid-row-gap: 3%;
    }
    
    .grid-reviews {
        background-color: #f4f4f4;
        border: 1px solid  #fff;
        padding: 1px;
        font-size: 20px;
        color: #000000;
        text-align: center;
        height: auto;
    }
    .box {
        margin-left: 15%;
        width: 50%;
        height: 30%;
        display: block;
        margin-bottom: 25px;
        position: relative;
        padding: 10px;
        border: 5px solid white;
        background-color: white;
        color: black;
        word-wrap: break-word;
        overflow: scroll;

    }

    .checked {
        color: orange;
    }

    .checked-item {
        color: orange;
    }

    #google-map {
        float: left;
        position: relative;
        left: 50%;   
        width:50%;
        height:50%; 
    }
            
    .button {
        background-color: #f44336;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        z-index:3;
        position: relative;
    }

    .reviewbtn{
        z-index:3;
        position: relative;
        background-color: #f44336;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        float:left;
        left: 50%;
        border: 0px #fff;
    }

    .gallery {
        display: block;
/*         margin-top: 0%;
      
        margin-bottom: 0%;  */   
        border-color:  black; 
        width: 100%;
        text-align: center;
        float:right;
    }

    photoheading{
        text-align: left;
        margin-left: 10%;
        padding:10% 10%;

    }

    @media screen and (max-width: 600px) { 
        .photobox { display: none; }  
      }
      
    .photobox{
        background-color: white;
        width:25%;
        margin-right:5%;
        float:right;
        height:100%;

    }

    .heading2indivual {
        color: #ffffff;  
        margin-top: -270px;
        margin-left: 1175px;
        font-size: 30px; 
    }
            
    .bottom-right {
        position: absolute;
        bottom: 50px;
        right: 200px;
    }

/* Search Results Page Styling*/

    .block.no-padding {
        padding: 0;
    }
    .block {
        float: left;
        position: relative;
        width: 100%;
        z-index: 0;
        text-align:center;
    }

    ul {
        list-style-type: none;
        display: inline;
    }

    .inner-header {
        color: #8d99ae;
        float: left;
        font-size: 30px;
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
        width: 100%;
    }

    .container-result {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .spacer{
        height:15%;
        background-color: #f4f4f4;
        display: flex;
        width:100%;
    }
    .spacer2{
        height:10%;
        background-color: black;
        display: flex;
        width:100%;
    }
    .spacer3{
        height:21%;
        background-color: #f4f4f4;
        display: flex;
        width:100%;
    }
    .results-div{
        background-color: #f4f4f4;
        display: flex;
        width:100%;

    }


    .grid-header {
        background-color:white;
        border: 1px solid  #fff;
        padding: 1px;
        font-size: 25px;
        color: #000000;
        text-align: left;
    }

    .grid-results {
        background-color:white;
        border: 0px solid  #fff;
        padding: 1px;
        font-size: 20px;
        color: #000000;
        text-align: left;
        float:left;
        overflow-wrap: break-word;

        }
    
    .grid-results-suburb {
        background-color:white;
        border: 0px solid  #fff;
        padding: 1px;
        font-size: 20px;
        color: #000000;
        text-align: left;
        float:right;
    }

    #google-map {
        margin-right: 17.5%;
        margin-left: 62%;
        display: inline-block;  
    }
        

    .Column1{
        display: flex;
        float:left;        
        width:80%;
    }
    .Column2{
        display: flex;
        float:right;
        width:40%;
    }
    .result-img{
        width:100%;
        height:100%;
        float:left;
    }
    .grid-container {    	
        display: grid;
        background-color:#f4f4f4;
        padding: 5px 5px;
        grid-row-gap: 3%;
        grid-template-columns: 20% 20% 40% 20%;
        margin-left:10%;
        width: 100%;
        overflow:scroll;
/*         border-bottom: solid 1px black;
*/      text-align:left;
    }
    
    .map {
        width: 100%;
        height:100%;
        background-color:yellow;
        z-index: 100;
    }
        

/* Login In Page Styling*/

    .register {
        opacity: 1; 
        text-align:right;
        float:right;
    }



    input[type=text], input[type=password], input[type=number], input[type=date], input[type=email] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
        box-sizing:border-box;
    }

    /* Add a background color when the inputs get focus */
    input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=date]:focus, input[type=email]:focus {
        background-color: #ddd;
        outline: none;
        box-sizing:border-box;
    }

    /* Set a style for all buttons */
    .buttonlogin {
        background-color: #d90429;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity:1;
    }

    /* Float cancel and signup buttons and add an equal width */
    .signupbtn {
        float: left;
        border-radius: 30px 30px 30px 30px;
        background-color: #d90429;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .containerlogin {
        padding: 16px;
        height: 100%; overflow: auto;
    }


    .signupcotainer {
        background-color: #fefefe;
        margin: 5% auto 5% auto; 
        border: 1px solid #888;
        width: 40%; 
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .signup {
        color:#111;
    }

    label {
        color:#111;
        font-weight: bold;
        font-size:20px;

    }

    .register {
        opacity: 1; 
        text-align:right;
        float:right;
    }


    .container {
        padding: 16px;
        height: 100%; 
    }

    .ratingreview {
        width: 70%;
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
        display: table-cell;
        position: relative;
        vertical-align: middle;
        padding: 0px 10px 0px 10px;
        color: rgb(100, 100,100);
        border: none;
        white-space: nowrap;
        background-color: white;

    }

             
    .modalreview {
        position: absolute; 
        z-index: 4; 
        left: 0;
        top: 0;
        width: 50%; 
        overflow: auto; 
        left: 20%;
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid #888;
    }
         

/*     hyperlinks
 */
/* 
    .links {
        color: #d90429!important;

    } */
 

 


